###############################################################################
# {{ ansible_hostname }}.samba.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple
# example of how you can create configuration entries to monitor
# the local (Linux) machine.
#
###############################################################################
###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################
# Define a host for the local machine
# This host definition will inherit all variables that are defined
# in (or inherited by) the linux-server host template definition.
define host {
  host_name                      {{ ansible_hostname }}
  alias                          {{ ansible_hostname }}
  address                        127.0.0.1
  use                            linux-server                        ; Name of host template to use
}

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################
# Define an optional hostgroup for Linux machines
define hostgroup {
  hostgroup_name                 linux-servers                       ; The name of the hostgroup
  alias                          Linux Servers                       ; Long name of the group
  members                        {{ ansible_hostname }}                           ; Comma separated list of hosts that belong to this group
}

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################
# Define a service to "ping" the local machine
define service {
  service_description            PING
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_ping!100.0,20%!500.0,60%
}

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.
define service {
  service_description            Root Partition
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_disk!20%!10%!/
}

# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.
define service {
  service_description            Current Users
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_users!20!50
}

# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.
define service {
  service_description            Total Processes
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_procs!250!400!RSZDT
}

# Define a service to check the load on the local machine.
define service {
  service_description            Current Load
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}

# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free
define service {
  service_description            Swap Usage
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_swap!20!10
}

# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.
define service {
  service_description            SSH
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_ssh
}

# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.
define service {
  service_description            HTTP
  host_name                      {{ ansible_hostname }}
  use                            local-service                       ; Name of service template to use
  check_command                  check_http!-u /naemon/
}

define service {
  service_description            Samba
  host_name                      {{ ansible_hostname }}
  use                            local-service
  check_command                  check_procs!2:25!1:100!samba
}

define service {
  service_description            Winbindd
  host_name                      {{ ansible_hostname }}
  use                            local-service
  check_command                  check_procs!2:50!1:100!winbindd
}

{% if ansible_hostname == sysvol_main_sync_host %}
define service {
        service_description     osync
        host_name               {{ ansible_hostname }}
        use                     distributed-service
        check_command           check_log!/var/log/osync.sysvol_sync.log!osync finished with warnings.
}
{% endif %}
