#
# Sample configuration for send_nsca(8).  See the send_nsca.cfg(5) man page.
#
# PLEASE SET THE PERMISSIONS OF THIS FILE APPROPRIATELY TO MAKE SURE THAT ONLY
# AUTHORIZED USERS CAN ACCESS IT!
#

        identity = "{{ nsca_identity }}"                        # Default: `hostname`.
        password = "{{ nsca_password }}"   # Default: "change-me".
        server = "{{ nsca_server }}"               # Default: "localhost".
        tls_ciphers = "{{ nsca_tls_cipher }}"              # See send_nsca.cfg(5).
        delay = "{{ nsca_delay }}"                                      # Default: 0.
        port = "{{ nsca_port }}"                                     # Default: 5668.
        timeout = "{{ nsca_timeout }}"                                    # Default: 15.
